<!-- <div class="row"> -->
  <div class="col-md-3">

	  <div class="row">
      <%= image_tag @teacher.avatar_url, class: "img-rounded" %>
      <div class="star-rating" data-score= <%= @avg_rating %>></div>
      <p><%= "#{@reviews.length} reviews" %></p>
      <p><%= @teacher.description %></p>
	  </div>
	  <br>

    <div class="row">
	    <% if user_signed_in? %>
				<% if current_user.teacher %>
					<% if current_user.teacher != @teacher %>
						<%= link_to "Book a class with #{@teacher.first_name}!", new_teacher_booking_path(@teacher), class: 'btn btn-primary' %>
						<% end %>
				<% else %>
				<%= link_to "Book a class with #{@teacher.first_name}!", new_teacher_booking_path(@teacher), class: 'btn btn-lg btn-primary' %>
				<% end %>
			<% end %>
		</div>
<br>
		<% if @reviews.any? %>
			<div class="row">
	      <table class="table">
	      	<thead>
	      		<tr>
		      		<th class="col-md-3"></th>
	      			<th class="col-md-3"></th>	
	      		</tr>
	      	</thead>

				  <tbody>
				    <% @reviews.each do |review| %>
				      <tr>
				      	<td>
					      	<h4><%= review.student.username %></h4>
					      	<p><%= review.created_at.strftime("%-m/%-d/%-y") %></p>
				      	</td>
				        <td>
				          <div class="star-rating" data-score= <%= review.rating %> ></div>
				          <p><%= h(review.comment).gsub(/\n/, '<br>').html_safe %></p>
				          <% if user_signed_in? %>
				          	<% if (review.student == current_user) || (current_user.admin?) %>
				          		<%= link_to "Edit", edit_teacher_review_path(@teacher, review) %>
				          		<%= link_to "Delete", teacher_review_path(@teacher, review), method: :delete %>
			          		<% end %>
		          		<% end %>
				        </td>
				      </tr>
				    <% end %>
				  </tbody>
				</table>
	    </div>
    <% end %>

	</div>

  <div class="col-md-8 col-md-offset-1 teacher-show">
    <h3><%= "#{@teacher.first_name} #{@teacher.last_name }" %></h3>
    <p>From: <%= @teacher.country %></p>
    <p>Teaching: <%= @teacher.subject %></p>
    <p>About <%= @teacher.first_name %>: <%= @teacher.description %></p>
    <p>Hourly Rate: <%= number_to_currency(@teacher.price) %></p>
    <p>Time Zone: <%= @teacher.user.time_zone %></p>

		<div id="calendar" class="calendar" data-teacher-id="<%= @teacher.id %>" data-teacher-timezone="<%= @teacher.user.time_zone %>"></div>

  </div>
</div>

<script>
	$('.star-rating').raty({
		path: 'https://s3.amazonaws.com/learnabli/stars',
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		}
	});
</script>
