<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
      <%= image_tag @teacher.avatar_url, class: "img-rounded" %>
  </div>
  <div class="col-md-6 teacher-show">
    <h3><%= "#{@teacher.first_name} #{@teacher.last_name }" %></h3>
    <div class="star-rating" data-score= <%= @avg_rating %> ></div>
    <p><%= "#{@reviews.length} reviews" %></p>
    <p>From: <%= @teacher.country %></p>
    <p>Teaching: <%= @teacher.subject %></p>
    <p>About <%= @teacher.first_name %>: <%= @teacher.description %></p>
    <p>Hourly Rate: <%= number_to_currency(@teacher.price) %></p>
    <p>Time Zone: <%= @teacher.user.time_zone %></p>

		<div id="calendar" class="calendar" data-teacher-id="<%= @teacher.id %>" data-teacher-timezone="<%= @teacher.user.time_zone %>"></div>

  </div>
</div>

<%= link_to 'New Availability', new_teacher_availability_path(@teacher), class: 'btn btn-primary' %>
<%= link_to 'New Booking', new_teacher_booking_path(@teacher), class: 'btn btn-primary' %>
<%= link_to "Write Review", new_teacher_review_path(@teacher), class: "btn btn-primary" %>

<% if current_user == @teacher.user %>
	<%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-link" %> |
<% end %>

<%= link_to 'Back', teachers_path, class: "btn btn-link" %>

<div class='row'>
  <div class='col-md-9'>
    <% if @reviews.blank? %>
      <h3>No reviews yet. Be the first to write one!</h3>
    <% else %>
      <table class="table">
        <tbody>
          <% @reviews.each do |review| %>
            <tr>
              <td>
                <div class="star-rating" data-score= <%= review.rating %> ></div>
                <p><%= h(review.comment).gsub(/\n/, '</br>').html_safe %></p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>

<script>
  $('.star-rating').raty({
    path: 'https://s3.amazonaws.com/edu-depot/stars',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>