<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-3">
      <%= image_tag @teacher.avatar_url, class: "img-rounded" %>
  </div>
  <div class="col-md-6 teacher-show">
    <h3><%= "#{@teacher.first_name} #{@teacher.last_name }" %></h3>
    <p>From: <%= @teacher.country %></p>
    <p>Teaching: <%= @teacher.subject %></p>
    <p>About <%= @teacher.first_name %>: <%= @teacher.description %></p>
    <p>Hourly Rate: <%= number_to_currency(@teacher.price) %></p>
    <p>Time Zone: <%= @teacher.user.time_zone %></p>

  </div>
</div>


<%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-link" %> |
<%= link_to 'Back', teachers_path, class: "btn btn-link" %>
