<p id="notice"><%= notice %></p>
<%= image_tag @teacher.avatar_url %>
<p>
  <strong>First name:</strong>
  <%= @teacher.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @teacher.last_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @teacher.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @teacher.price %>
</p>

<p>
  <strong>Skype:</strong>
  <%= @teacher.skype %>
</p>

<p>
  <strong>Qq:</strong>
  <%= @teacher.qq %>
</p>

<p>
  <strong>Country:</strong>
  <%= @teacher.country %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @teacher.subject %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher), class: "btn btn-link" %> |
<%= link_to 'Back', teachers_path, class: "btn btn-link" %>
