<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @availability.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @availability.end_time %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @availability.teacher_id %>
</p>

<%= link_to 'Edit', edit_teacher_availability_path(@teacher, @availability) %> |
<%= link_to 'Back', teacher_availabilities_path %>
